
.card-servicie-t {
  background-color: #03A63C;
  margin: 0px 0px 0px 15px;
  text-align: center;
  height: 170px;
  flex: 1;
  text-align: center;
}

.card-servicie-tt {
  text-align: center;
  height: 170px;
  flex: 1;
  text-align: center;
}

.card-servicie-ttt {
  background-color: #03A63C;
  margin: 0px 0px 0px 15px;
  text-align: center;
  height: 170px;
  flex: 1;
  text-align: center;
}

.row-service-I {
  --gutter-x: 30px;
  --gutter-y: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  margin: auto;
}

.row-service-II {
  --gutter-x: 30px;
  --gutter-y: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  margin: auto;
}

.row-service-III {
  --gutter-x: 30px;
  --gutter-y: 0;
  display: -webkit-box;
  padding: 0px 0px 0px 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  margin: auto;
}

.title-1-service-acor-I {
  font-family: 'Helvetica', Sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: #1a1212;
  text-align: left;
}

.sub-title-1-service-I {
  font-family: Sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #03A63C;
  text-align: left;
  padding: 50px 0px 0px 15px;
}

.col-md-12-service-I {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.container-service-II {
  color: #666766;
  background: #eae8e8;
}

.container-service-II-crm {
  color: #666766;
  background: #eae8e8;
}

.title-1-service-II {
  font-family: 'Helvetica', Sans-serif;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  padding: 30px 0px 50px 0px;
  color: #03A63C;
}

@media (min-width: 576px) {
  .title-1-service-II {
    font-family: 'Helvetica', Sans-serif;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0;
    color: #03A63C;
  }
}


.title-1-service-I {
  font-family: 'Helvetica', Sans-serif;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  padding: 30px 0px 0px 0px;
  color: #03A63C;
}

// Tu archivo SCSS

.accordion-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  font-family: Sans-serif;
  font-size: 46px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: inherit;
  text-align: left;
  background-color: rgba(172, 220, 172, 0);
  color: #03A63C;
  border: 1px solid lightgrey;
  overflow-anchor: none;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border-radius 0.1s ease;

  &:hover {
    background-color: #03A63C;
    color: #ffffff;
    border-color: #03A63C;
  }
}

.accordion-body {
  padding: 1rem 1.25rem;
  color: rgba(52, 51, 51, 0.91);
}

.card-tar-service {
  padding: 35px;
  flex: 1;
  position: relative;
}

.card-tar-services {
  padding: 35px 0px 0px 15px;
  flex: 1;
  position: relative;
}

.text-service {
  color: #ffffff;
  padding: 20px 0px 0px 0px;
  font-size: 22px;
}

.text-service-banner {
  color: #1a1212;
  padding: 20px 0px 0px 0px;
  font-size: 22px;
}

.text-service-I {
  color: #03a63c;
}

.title-inf {
  color: #1a1212;
  text-align: center;
  padding: 20px;
  font-size: 46px;
  font-weight: 700;
}

.sub-title-inf {
  font-family: Sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #03A63C;
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.card-servicie-bloq {
  background-color: #ffffff;
  margin: 15px;
  text-align: center;
  height: 450px;
  width: 540px;
  flex: 1;
  padding: 70px;
}

@media (max-width: 576px) {
  .card-servicie-bloq {
    background-color: #ffffff;
    text-align: center;
    max-height: 418px;
    max-width: 318px;
    padding: 25px;
    flex: 1;
  }
}


.sub-title-service-inf {
  font-family: 'Helvetica', Sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px 90px 0px 125px;
  color: #1a1212;
}

.text-service-inf {
  font-family: 'Helvetica', Sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px 10px 0px 10px;
  color: #1a1212;
}

.title-inf-I {
  color: #1a1212;
  text-align: center;
  padding: 50px;
  font-size: 46px;
  font-weight: 700;
}

.front-page-service {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.front-page-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/software_erp/image-fondo-blanco-ondulado.jpg");
  background-position: 120% 100%;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
}

.card-container-service {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  flex-wrap: wrap;
  margin-left: 95px;
  margin-right: 95px;
}

.container-service-IIII {
  padding: 60px 0px 0px 0px;
}

.swiper-slide-service img {
  display: block;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.clients-image-erp {
  width: 120px;
  height: 120px;
  padding: 0px 10px;
}

.swiper-slide-erp img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.sub-title-1-service-erp {
  font-family: Sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.title-service-erp {
  font-family: 'Helvetica', Sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.info-button-erp {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #03a63c;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

.a {
  text-decoration: none;
}

.info-button-erp:hover {
  background-color: #acdcac;
  text-decoration: none;
  color: #03a63c;
}

.card-servicie-erp {
  background-color: #03a63cd9;
  margin: 0px 0px 0px 15px;
  text-align: center;
  height: 170px;
  width: 594px;
  flex: 1;
  text-align: center;
  margin: 0px 0px 0px 8px;
}


/*-----------------------------------SOFTWARE CRM------------------------------------------*/

.clients-image-service {
  width: 120px;
  height: 120px;
  padding: 0px 10px;
}


.row-software-crm {
  --gutter-x: 30px;
  --gutter-y: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x));
}

.col-md-12-service-crm-I {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.container-service-crm-II {
  color: #ffffff;
}

.card-servicie-crm-t {
  background-color: #03A63C;
  text-align: center;
  height: 230px;
  flex: 1;
  text-align: center;
}

.card-servicie-crm-tt {
  color: #666766;
  background: #eae8e8;
  text-align: center;
  height: 230px;
  flex: 1;
  text-align: center;
}

.card-servicie-crm-ttt {
  background-color: #03A63C;
  text-align: center;
  height: 230px;
  flex: 1;
  text-align: center;
  margin: 0px 15px 0px 0px;
}

.title-func {
  margin: 15px 0px 0px 0px;
}

.software_crm_container {
  background-color: rgb(141, 224, 171);
  padding: 50px 0px 50px 0px;
}

.card-container-servicie-clients_crm {
  padding: 0px 0px 60px 0px;
}

.title-1-service-crm {
  font-family: 'Helvetica', Sans-serif;
  font-size: 46px;
  font-weight: 500;
  text-align: center;
  padding-top: 50px;
  color: #ffffff;
  text-align: left;
}

.card-servicie-bloq-crm {
  background-color: #ffffff;
  margin: 15px;
  text-align: center;
  height: 360px;
  width: 360px;
  flex: 1;
  padding: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .card-servicie-bloq-crm {
    background-color: #ffffff;
    margin: 15px;
    text-align: center;
    width: 270px;
    flex: 1;
    padding: 20px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .card-servicie-bloq-crm {
    background-color: #ffffff;
    margin: 15px;
    text-align: center;
    width: 270px;
    flex: 1;
    padding: 20px;
    text-align: center;
  }
}

/*-----------------------------------CONSULTORIAS------------------------------------------*/

.card-servicie-consult {
  background-color: #1a1212;
  margin: 15px;
  text-align: center;
  height: 200px;
  width: 360px;
  padding: 40px 30px 0px 30px;
  flex: 1;
  text-align: center;
}

.title-1-service-consult {
  font-family: 'Helvetica', Sans-serif;
  font-size: 46px;
  font-weight: 500;
  text-align: center;
  color: #03A63C;
  text-align: left;
}

.card-servicie-bloq-consult {
  background-color: #ffffff;
  margin: 15px;
  text-align: center;
  flex: 1;
  padding: 60px;
  text-align: center;
}

.container-service-consult {
  color: #666766;
  background: #eae8e8;
}

.row-consult {
  --gutter-y: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-.5 * var(--gutter-x));
  margin-left: calc(-.5 * var(--gutter-x));
}


/*-----------------------------------APP MOVILES------------------------------------------*/

.card-servicie-app {
  background-color: #03A63C;
  margin: 0px 0px 0px 15px;
  text-align: center;
  height: 176px;
  flex: 1;
  text-align: center;
}

.card-servicie-app-I {
  background-color: #03A63C;
  margin: 0px 0px 0px 15px;
  text-align: center;
  height: 176px;
  flex: 1;
  text-align: center;
}

.card-servicie-app-tt {
  text-align: center;
  height: 170px;
  flex: 1;
  text-align: center;
}

.card-tar-service-app {
  flex: 1;
  position: relative;
}

.text-service-app {
  color: #ffffff;
  padding: 50px 0px 0px 0px;
  font-size: 21px;
  font-weight: 700;
}

.text-service-app-I {
  color: #03A63C;
  padding: 50px 0px 0px 8px;
  font-size: 21px;
  font-weight: 700;
}

/*-----------------------------------DESARROLLO A AL MEDIDA------------------------------------------*/

.title-inf-develop {
  color: #1a1212;
  text-align: center;
  padding: 50px 0px 10px 0px;
  font-size: 46px;
  font-weight: 700;
}

.develop-image {
  object-fit: scale-down !important;
  padding: 20px;
}

.card-servicie-develop {
  background-color: #1a1212;
  margin: 15px;
  text-align: center;
  height: 295px;
  width: 360px;
  padding: 40px 30px 0px 30px;
  flex: 1;
  text-align: center;
}

.sub-title-1-service-develop {
  font-family: Sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #03A63C;
  text-align: left;
  padding: 30px 0px 0px 15px;
}

.card-servicie-bloq-develop {
  background-color: #ffffff;
  margin: 15px;
  text-align: center;
  flex: 1;
  padding: 29px;
  text-align: center;
}